.container {
  max-width: calc(800px + 5em);
  margin: 0 1em;
  text-align: center;
  color: #2c2c2c;
}

@media (min-width: 1000px) {
  .container {
    margin: 0 auto;
  }
}

.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  padding: 1em 0;
  background-color: #282828;
  margin-bottom: 0.75em;
}

.logo {
  width: 100%;
  max-width: 2rem;
  display: inline-block;
  transition: transform .25s ease-in-out;
}

.logo:hover {
  transform: scale(1.25);
  transition: transform .25s ease-in-out;
}

.link {
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration: none;
}

.link + .link {
  margin-left: 1em;
}

.link--decor {
  position: relative;
  outline: none;
}

.link--decor::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #ff6b57;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s ease-in;
}

.link--decor:hover::after,
.link--decor:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active {
  font-weight: 700;
  color: #ff6b57;
}

.pkm--images {
  position: relative;
  display: inline-block;
}

.pkm--img {
  width: 100%;
  max-width: 16em;
  transition: all .15s ease-in-out;
}

.pkm--img:first-child {
  position: relative;
}

.pkm--img:last-child {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}

.pkm--img:last-child:hover {
  opacity: 1;
}

.capitalize {
  text-transform: capitalize;
}

.loading {
  margin-top: 8em;
}

.pokeball-load {
  width: 100%;
  max-width: 3.5rem;
  margin: 0.2em auto 0;
}

@media (prefers-reduced-motion: no-preference) {
  .pokeball-load {
    animation: pkball-spin infinite 2s linear;
  }
}

@keyframes pkball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}