.container {
  max-width: calc(800px + 5em);
  margin: 0 1em;
  text-align: center;
  color: #2c2c2c;
}

@media (min-width: 1000px) {
  .container {
    margin: 0 auto;
  }
}

.container--flex {
  display: flex;
  align-items: center;
}

.container--nav {
  justify-content: space-between;
}

.container--types {
  justify-content: center;
  gap: 0.25em;
}

.logo--container {
  font-size: 1.125rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.logo {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.logo:hover {
  animation: shake .4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.charizard {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  transition: transform .25s ease-in-out;
}

.charizard:hover {
  transform: scale(1.20);
  transition: transform .25s ease-in-out;
}

.nav {
  padding: 1em 0;
  background-color: #282828;
  margin-bottom: 0.75em;
}

.small-logo {
  width: 100%;
  max-width: 2rem;
  display: inline-block;
}

.link {
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration: none;
}

.link + .link {
  margin-left: 1em;
}

.link--decor {
  position: relative;
  outline: none;
}

.link--decor::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #ff6b57;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s ease-in;
}

.link--decor:hover::after,
.link--decor:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active {
  font-weight: 700;
  color: #ff6b57;
}

.pkm--list {
  flex-direction: column;
}

.pkm__select {
  width: 100%;
  max-width: 12rem;
  padding: 0.5em;
  margin: 0.6125em;
  outline: none;
  transition: border .25s ease-in-out;
  border: 2px solid #dbdbdb;
}

.pkm__select:hover,
.pkm__select:focus {
  transition: all .25s ease-in-out;
  border: 2px solid #ff6b57;
}

.pkm__select--option {
  border-radius: 0;
}

.pkm__select--option:first-child {
  background-color: rgba(255, 0, 0, 0.1);
  color: #5b5b5b;
}

.pkm--images {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.pkm--images::after {
  content: '✨';
  position: absolute;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.375rem;
  height: 2.375rem;
  width: 2.375rem;
  top: 0.5em;
  right: 0.5em;
  z-index: 2;
  opacity: 0;
  border-radius: 50%;
  transition: all .25s ease-in-out;
  background-color: rgba(255, 235, 60, 0.85);
  background-image: linear-gradient(
    225deg, 
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.25) 30%, 
    rgba(255, 255, 255, 0.55) 40%, 
    rgba(255, 255, 255, 0.8) 50%,  
    rgba(255, 255, 255, 0.55) 55%, 
    rgba(255, 255, 255, 0.25) 60%,
    rgba(255, 255, 255, 0.1) 70%
  );
  box-shadow: inset 0 0 5px rgb(255, 220, 100);
  background-size:300% 100%;
  animation: shine 2s infinite;
}

.pkm--images:hover::after {
  transition: all .25s ease-in-out;
  opacity: 1;
}

.pkm--type {
  width: 100%;
  max-width: 2.5rem;
}

.pkm--img {
  width: 100%;
  max-width: 16em;
  transition: all .15s ease-in-out;
}

.pkm--img:first-child {
  position: relative;
}

.pkm--img:last-child {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}

.pkm--img:last-child:hover {
  opacity: 1;
}

.pkm__title {
  margin-bottom: 0.2em;
}

.pkm__stats {
  margin: 0.5em auto;
  width: 100%;
  max-width: 20rem;
}

.pkm__stats--sort {
  flex-direction: column;
  margin-bottom: 0.5em;
  position: relative
}

.pkm__stats--text {
  margin-bottom: 0.2em;
  line-height: 1;
  position: relative;
  top: 1px;
}

.pkm__stats--name {
  font-size: 0.75rem;
  line-height: 1;
  position: relative;
  bottom: 2px;
}

.pkm__stat {
  height: 1.375rem;
  width: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}

.pkm__stat--inside {
  height: 1.375rem;
}

.pkm__stat--hp,
.pkm__stat--atk,
.pkm__stat--def,
.pkm__stat--sp-atk,
.pkm__stat--sp-def,
.pkm__stat--spd {
  border: 1px solid rgba(50, 50, 50, 0.2);
}

.pkm__stat--hp {
  background-color: #d9ffdd;
}

.pkm__stat--atk {
  background-color: #fffddb;
}

.pkm__stat--def {
  background-color: #fff8f1;
}

.pkm__stat--sp-atk {
  background-color: #e1feff;
}

.pkm__stat--sp-def {
  background-color: #ebf3ff;
}

.pkm__stat--spd {
  background-color: #fbf1ff;
}

.pkm__abilities {
  margin: 0 auto 0.5em;
  width: 100%;
}

.pkm__abilities--hidden::after {
  content: 'Hidden';
    font-family: monospace;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;
    top: -2px;
    color: white;
    padding: 0.1em 0.3em 0.2em 0.4em;
    font-size: 0.6rem;
    border-radius: 0.625em;
    text-shadow: 1px 1px #424242;
    background-color: #e51c1c;
    box-shadow: 1px 1px 0px #424242;
}

@media (min-width: 320px) {
  .pkm__stats--sort {
    flex-direction: row;
  }

  .pkm__stats--text {
    width: 42%;
    text-align: right;
    margin: 0 0.5em 0 0;
  }
}

.capitalize {
  text-transform: capitalize;
}

.loading {
  margin-top: 8em;
}

.pokeball-load {
  width: 100%;
  max-width: 3.5rem;
  margin: 0.2em auto 0;
}

@media (prefers-reduced-motion: no-preference) {
  .small-logo {
    animation: pkball-spin infinite 2s linear;
    animation-play-state: paused;
  }

  .small-logo:hover {
    animation-play-state: running;
  }

  .pokeball-load {
    animation: pkball-spin infinite 2s linear;
  }

  .pkm--images::after {
    animation: shine infinite 2s ease-in-out;
  }
}

@keyframes pkball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  0% { background-position: 0; }
  100% { background-position: 150%; }
}

.btn {
  margin-top: 0.5em;
  padding: 0.7em 1.2em;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 700;
}

.btn--send {
  background-color: #423b3b;
  transition: all .15s ease-in-out;
}

.btn--send:hover,
.btn--send:focus {
  transition: all .25s ease-in-out;
  box-shadow: 4px 4px 0px 0px #ff6b57;
}

.btn--back {
  background-color: #423b3b;
  transition: all .15s ease-in-out;
}

.btn--back:hover,
.btn--back:focus {
  transition: all .25s ease-in-out;
  box-shadow: 4px 4px 0px 0px #5aa5eb;
}